<!doctype html>
<html>
<head>
    <title>{{project.name}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/elusive.css">
    <link rel="stylesheet" href="/css/syntax/tomorrow.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <ul id="modules-list" class="sidenav">
    </ul>

    <div id="readme">
    </div>

    <script type="text/x-template" name="sidenav-module">
        <li>
            <a>
                <span class="icon icon-warning-sign"></span>
                <div class="name"></div>
                <div class="version"></div>
            </a>
        </li>
    </script>

    <script src="/js/index.js"></script>
</body>
</html>
