<!doctype html>
<html>
<head>
    <title>{{project.name}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/elusive.css">
    <link rel="stylesheet" href="/css/syntax/tomorrow.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div id="new-version-banner" class="hidden">
        <span class="icon icon-info-sign"></span>
        new version of docserv available: <span class="version"></span>
        <a href="#" class="close">&times;</a>
    </div>

    <div class="sidediv">
        <ul id="modules-list" class="sidenav">
        </ul>
    </div>

    <div id="readme">
    </div>

    <script type="text/x-template" name="sidenav-module">
        <li>
            <a>
                <div class="name">
                    <span class="icon icon-warning-sign hidden"></span>
                    <span></span>
                </div>

                <div>
                    <span class="icon icon-info-sign newer-version hidden"></span>
                    <span class="version"></span>
                </div>
            </a>
        </li>
    </script>

    <script src="/js/index.js"></script>
</body>
</html>
