html {
    height: 100%;
}

body {
    background: url('/img/bg.png');
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

.sidenav {
    min-height: 100%;
    width: 150px;
    background-color: rgba(200, 200, 200, 0.3);
    z-index: 100;
}

#readme {
    padding: 5px;
    padding-left: 160px;
}

ul.sidenav {
    margin: 0;
    padding: 0;
}

ul.sidenav li {
    padding: 5px;
    list-style: none;
    margin: 0px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid rgba(200, 200, 200, 0.35);
}

ul.sidenav li > a {
    height: 50px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

ul.sidenav li.active {
    background-color: rgba(200, 200, 200, 0.3);
}

ul.sidenav li.active a:after {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left:10px solid rgba(200, 200, 200, 0.6);
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
}

.sidenav .name {
    display: inline-block;
}

.sidenav .version {
    color: #6c6c6c;
    font-size: 0.8em;
}

.sidenav .icon {
    display: none;
    color: #800000;
}

pre code {
    background: rgba(250, 250, 250, 0.6);
}

.sidediv {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}
